
#app {
  max-width: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.color {
  text-decoration: none;
  color: rgb(189, 22, 0);
  transition: 0.4s;
  padding: 5px;
}

header {
  line-height: 1.5;
  max-height: 100vh;
  justify-content: center;
}


nav {
  width: 60vh;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

body{
background-color: rgb(153, 153, 155);
}
